gui_apps/mercury/src/main/resources/dtd/mercury-configuration.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT connectionStore (connection*) >
    <!ELEMENT connection (hostname, port, channel?, server?) >
    <!ATTLIST connection
        name CDATA #REQUIRED
        type CDATA #REQUIRED >
        <!ELEMENT hostname (#PCDATA) >
        <!ELEMENT port (#PCDATA) >
        <!ELEMENT channel (#PCDATA) >
        <!ELEMENT server (#PCDATA) >